body 
{  
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
p{
    color:dimgray;
}
h2{
    font-size: 40px;
}
.highlights{
    color: orange;
}
.half-width
{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img
{
    width: 100%;
}
.top_banner{
    background-repeat: no-repeat;
    background-image:url("images/top-banner.png");
}
.dream_area{
   
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link_button
{
    text-decoration: none;
    background-image: linear-gradient(45deg,yellow,tomato);
    background-color: orange;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;

}
.boxing
{  
    background-color: white;
    box-shadow: 10px 10px 40px grey;
    border-radius: 5px;
    height: 80%;
}
.experience-area
{   
   
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#stick1
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,tomato,yellow,orange);
    border-image-slice: 1;
}
#stick2
{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p
{
    text-align: center;
    font-size: 20px;
}